@import "./value.scss";
//字体
@mixin font-size($size) {
    font-size:$size;
}
//背景
@mixin bg-color($bg){
    background-color:$bg;
    [data-ming="theme1"] & {
      background-color:$bg-ming-theme1;
    }
    [data-ming="theme2"] & {
      background-color:$bg-ming-theme2;
    }
    [data-ming="theme3"] & {
      background-color:$bg-ming-theme3;
    }
   
}
//字体
@mixin font-color($color) {
    color:$color;
    [data-ming="theme1"] & {
        color:$font-color-ming-theme1;
    }
    [data-ming="theme2"] & {
        color:$font-color-ming-theme2;
    }
    [data-ming="theme3"] & {
        color:$font-color-ming-theme3;
    }
 
}

