
//默认颜色
$color-ming:#fff;
$size-ming: 18px;
$bg-ming: #409eff;
//背景颜色
$bg-ming-theme1: #fff;//主题1
$bg-ming-theme2: #f00;//主题2
$bg-ming-theme3: #000;//主题3
//字体颜色
$font-color-ming-theme1:rgb(27, 202, 233);
$font-color-ming-theme2:rgb(147, 175, 21);
$font-color-ming-theme3:rgb(179, 132, 32);
 